<%inherit file="base.html"/>

<%block name="content">
    <h2>Presence by weekday</h2>
</%block>

<%block name="js">
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});

        (function($) {
            $(document).ready(function() {
                var avatars = {},
                    loading = $('#loading');
                $.getJSON("${ url_for('users') }", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                        avatars[this.user_id] = this.avatar;
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function() {
                    document.getElementById('avatar').innerHTML = "";
                    document.getElementById('msg_div').innerHTML = "";
                    var selected_user = $("#user_id").val(),
                        chart_div = $('#chart_div');
                    if (selected_user) {
                        var current = avatars[selected_user];
                        if (current) {
                            var img = document.createElement("img");
                            img.src = "${avatar_host}" + current;
                            document.getElementById('avatar').appendChild(img);
                        }
                        loading.show();
                        chart_div.hide();
                        $.getJSON("${ url_for('presence_weekday', user_id=0) }"+selected_user, function(result) {
                            if (result !== 404) {
                                var data = google.visualization.arrayToDataTable(result),
                                options = {};
                                chart_div.show();
                                loading.hide();
                                var chart = new google.visualization.PieChart(chart_div[0]);
                                chart.draw(data, options);
                            } else {
                                loading.hide();
                                document.getElementById('msg_div').innerHTML = "<h2>No data for this user</h2>";
                            }
                        });
                    } else {
                        chart_div.hide();
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
